@model Dejavu.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="padding">
    <div class="full col-sm-9">
        <div class="row">
            <div class="panel panel-default padding">
                
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new{@class="control-label"})
        @Html.TextBoxFor(m => m.UserName, new{@class="form-control"})
        <small class="text-danger">
            @Html.ValidationMessageFor(m => m.UserName)
        </small> 
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new{@class="control-label"})
        @Html.PasswordFor(m => m.Password, new{@class="form-control"})
        <small class="text-danger">
                    @Html.ValidationMessageFor(m => m.Password)
        </small>
    </div>
    
    <input type="submit"  class="btn btn-primary" value="Log in" />
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

            </div>
        </div> 
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
