@using Humanizer
@model IEnumerable<Dejavu.Common.ViewModels.ProgramListModel>

@foreach (var i in Model)
{
    <li data-k="@i.Id" class="col-sm-12 awe-li awe-il">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="@Url.Action("Details","Program", new{id = i.Id})" class="pull-right">View Details</a> 
                <h4>@i.Name <small class="text-muted">@(i.DateHeld.Humanize())</small></h4></div>
            <div class="panel-body">
                <img src="@i.BannerUrl" class="img-responsive">
                <div class="clearfix"></div>
                <hr>						
                <p>
                    @i.Description
                </p>	
                <small class="text-muted">
                    @i.TestimonyCount testimonies
                </small>				
                <hr>
                <div class="well">
                    <h4>Your Testimony</h4>
                    @using(Html.BeginForm("New","Testimony",FormMethod.Post, new{@class="form-horizontal", role="form", id = i.Id}))
                    {
                        @Html.Hidden("ProgramId", i.Id)
                        <div class="form-group" style="padding: 14px;">
                            @Html.TextBox("PostedBy", null, new{@class="form-control", placeholder = "Full Name"})     
                        </div>
                        
                        <div class="form-group" style="padding: 14px;">
                            @Html.TextBox("Chapter", null, new{@class="form-control", placeholder = "Your Chapter", id=i.Id})
                        </div>  
                        
                        <div class="form-group" style="padding: 14px;">
                            @Html.TextArea("Post", null, new{@class="form-control", placeholder = "Your Experience", rows=5})
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" id="@i.Id">
                                Share <i class="glyphicon glyphicon-share-alt"></i>
                            </button>
                        </div>                                               
                    } 
                 
                </div>						
            </div>
        </div>

    </li>
    
    <script type="text/javascript">
        
        $('body').on('click', '#@i.Id button[type=button]', function () {
            console.log("Form Submitted:");
            console.log("yeahhhh!!! but this doesn't work for me :(");
            var form = $('form[id="@i.Id"]');
            $.ajax({
                url: form.attr('action'),
                type: 'post',
                data: form.serialize(),
                success: function (data) {
                    $("#@i.Id")[0].reset();
                    console.log("Form Submitted:");
                }
            });
         

        });
        
       
    </script>
    
}

