@using Humanizer
@model IEnumerable<Dejavu.Common.ViewModels.TestimonyViewModel>
@Layout = null;
@foreach (var i in Model)
{
    <li data-k="@i.Id" class="awe-li awe-il col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
              <p>
                    @i.Post
                </p>
            </div>
            <div class="panel-footer">
                <ul class="list-inline">
                    <li>
                        <p class="text-muted">
                            <small>@i.PostedBy  from @i.Chapter</small>
                        </p>

                    </li>
                    <li>
                        <p class="text-muted">
                            <small>@i.DatePosted.Humanize()</small>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </li>
}